<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UCPong</title>

  <script src="/scripts/htmx.min.js"></script>
  <script src="/scripts/tailwindcss.js"></script>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

    body {
      font-family: "JetBrains Mono", monospace;
      background-color: #000;
      color: #fff;
    }

    .pixel-perfect {
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
    }
  </style>
</head>
