{{define "modal"}}
<div id="modal" class="hidden self-center absolute top-0 w-full h-full bg-black bg-opacity-70 flex justify-center items-center">
    <div class="bg-black border-2 rounded px-24 py-14 flex flex-col justify-center items-center gap-10">
        <h1 id="modal-text" class="text-4xl text-red-500">HELLO!</h1>
        <button id="modal-button" class="w-fit h-14 text-lg border-2 border-gray-300 hover:bg-red-700 hover:border-gray-300 transition-colors px-6 py-3 rounded">START GAME</button>
    </div>
</div>
{{end}}